<!DOCTYPE html>
<html lang ="en">
  <head>
    <title>TinyApp</title>
  </head>

  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <% if (user) { %>
      <h1>You are already registered & logged in.</h1>
      <p><a href="/urls">See your short URLs</a></p>
      <p><a href="/urls/new">Shorten a new URL</a></p>
    <% } else { %>
    <h1>You need to register, my friend.</h1>
    <p>If you're aleady registered, you just need to login. Click login above to get started.</p>
    <p>
      <form action="/register" method="POST">
      <label for="email">Your email:</label>
      <input id="email" type="email" name="email" placeholder="your.email@email.com" style="width: 300px">
       <label for="password">Your password:</label>
      <input id="password" type="password" name="password" placeholder="choose a password" style="width: 300px">
      <button type="submit">REGISTER</button>
      </form>
    </p>
    <% } %>
  </body>
</html>