<!DOCTYPE html>
<html lang ="en">
  <head>
    <title>TinyApp</title>
  </head>

  <header>
    <% include partials/_header %>
  </header>

  <body>
    <h1>Make a TinyURL</h1>
    <form action="/urls" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" value="http://" style="width: 300px">
      <button type="submit">SHORTEN</button>
    </form>
    <p><a href="/urls">See your short URLs</a></p>
    <p><a href="/urls/new">Shorten a new URL</a></p>
  </body>
</html>